## Custom sshd_config with hardening
## Applies to OpenSSH 6.7+
## https://infosec.mozilla.org/guidelines/openssh

Port 22
AddressFamily inet
#ListenAddress 0.0.0.0

## Supported HostKey algorithms by order of preference.
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key

## Prefer more secure algorithms
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com

MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

## Logging
SyslogFacility AUTHPRIV
LogLevel VERBOSE

## Disable password/root logins - only pubkey allowed.
AuthenticationMethods publickey
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
HostbasedAuthentication no
UsePAM yes

MaxAuthTries 3
MaxSessions 2
ClientAliveInterval 300
ClientAliveCountMax 2

X11Forwarding no
PrintMotd no
UseDNS no

## Disable passing user environment
PermitUserEnvironment no

## Log SFTP
Subsystem sftp  /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO


## Example of overriding settings on a per-user basis
## Match User anoncvs
##	 X11Forwarding no
##	 AllowTcpForwarding no
##	 PermitTTY no
##	 ForceCommand cvs server
